<div class="modal-header">
  <h3>Enter person Details</h3>
</div>
<div class="modal-body">
 	<div>

    <form ng-submit="saveDetail()">
    	<label for="firstName">First Name: </label><br />
        <input id="firstName" type="text"  ng-model="firstName"><br>
        <label for="lastName">Last Name: </label><br />
        <input id="lastName" type="text"  ng-model="lastName"><br>
        <label for="age">Age: </label><br />
        <input id="age" type="number"  ng-model="age"><br>
        <label for="favouriteColour">Favourite Colour: </label><br />
        <input id="favouriteColour" type="text"  ng-model="colour"><br>
        <label for="hobby">Hobby: </label><br />
        <textarea id="hobby" ng-model="hobby" placeholder="Enter hobby's separated by commas" ng-model="hobby"/><br />
    <button class="btn btn-primary" type="submit" value="Submit">create</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </form>
</div>
</div>