.ngViewport.ng-scope{
    height: auto !important;
    overflow-y: hidden;
}

.ngTopPanel.ng-scope, .ngHeaderContainer{
    width: auto !important;

}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}